{% extends "core/base.html" %}
{%  block title %}
    Lista de Aeropuertos
{% endblock title %}

{%  block content %}
    <h1>Lista Aeropuertos</h1>

    <form action="{% url "avion:aeropuertos_list" %}" method="get">
        <input type="text" name="busqueda" placeholder="buscar..."> 
    </form>
    <ul>
    {% for aeropuerto in aeropuertos %}
    <li>{{aeropuerto.nombre}}
        <a href="{% url "avion:aeropuerto_detail" aeropuerto.id %}">Detalle</a>
        <a href="{% url "avion:aeropuerto_update" aeropuerto.id %}">Cambiar</a>
        <a href="{% url "avion:aeropuerto_delete" aeropuerto.id %}">Borrar</a>
    </li>
    {% endfor %}
    </ul>
    {% endblock content %}