<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Avion</title>
</head>
<body style="background-color: #0c7081; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #d1c6c6;">
    <h1>App Avion</h1>
    <div>
        <button><a href="{% url "avion:avion_list" %}">Lista de Aviones Registrados</a></button>
        
    </div>
    <button><a href="{% url "core:index" %}">Ir a Inicio</a></button>

</body>
</html>