{% extends "core/base.html" %}
{%  block title %}
    Aviones
{% endblock title %}

{%  block content %}

{% block  body_title %}
App Avion
{% endblock body_title %}
    
    <div>
        <button><a href="{% url "avion:avion_list" %}">Lista de Aviones Registrados</a></button>
        <button><a href="{% url "avion:avion_create" %}">Crear Avion</a></button>
        <button><a href="{% url "avion:aeropuertos_list" %}">Lista de aeropuertos</a></button>
        <button><a href="{% url "avion:aeropuerto_create" %}">Crear Aeropuerto</a></button>
    </div>
    {%  endblock content %}
