{% extends "core/base.html" %}
{%  block title %}
    VirtualPlanes/contacto
{% endblock title %}

{%  block body_title %}
    Contacto
{% endblock body_title %}

{%  block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Acerca de Mi..</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">
                        ¡Hola! Soy un estudiante de 21 años apasionado por la aviación y la tecnología. Actualmente, curso la carrera de Ingeniería en Sistemas en la Universidad Tecnológica Nacional. 
                        <br>
                        Mi interés por la aviación me lleva a explorar constantemente nuevos horizontes, tanto en el aire como en el ámbito de la programación y la informática. 
                        <br>
                        ¡Espero que disfrutes navegando por mi sitio y descubras más sobre mis proyectos y pasiones!. Para cualquier consulta, mi mail es maximodeluca644@gmail.com.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}