{% extends "core/base.html" %}
{%  block title %}
    VirtualPlanes
{% endblock title %}

{%  block body_title %}
    Login
{% endblock body_title %}

{%  block content %}
<form method="post">
    <table> 
    {% csrf_token %}
    {{form.as_table}}
    <input type="hidden" name="next" value="{% url "core:index" %}"> 
    </table> 
    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
    <a href="{% url "core:index" %}" class="btn btn-secondary">Cancelar</a>
</form>    
{% endblock content %}